.post-small-button {
    display: block;
    width: 10px; /* Adjust as needed */
    background-color: #ffff; /* Button background */
    color: black; /* Button text color */
    font-size: 1.2em; /* Text size */
    font-weight: bold; /* Make text bold */
    padding: 0.8em; /* Space inside the button */
    border: none; /* Remove border */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease; /* Hover effect */
    
}